$cell-size: 100px;
$not-quite-black: #333;
$board-blue: #3CA6F3;

body {
  margin: 0 auto;
  width: 80%;
  background-color: $not-quite-black;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
}

.headline {
  text-align: center;
}

.main {
  display: flex;
  justify-content: center;
  margin: 50px auto 0 auto;
}

#board {
  width: $cell-size * 7;
  height: $cell-size * 6;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  #piece-container {
    div {
      position: absolute;
      width: $cell-size - 10px;
      height: $cell-size - 10px;
      top: -80px;
      margin: 5px;
      border-radius: $cell-size;
      transition: top 0.2s linear;

      &[color="red"] {
        background-color: red;

        &.winner {
          box-shadow: 0 0 0 15px red inset, 0 0 0 30px white inset;
        }
      }
      &[color="yellow"] {
        background-color: yellow;

        &.winner {
          box-shadow: 0 0 0 15px yellow inset, 0 0 0 30px $board-blue inset;
        }
      }

      &.winner {
        transition: box-shadow 0.5s;
      }

      // rows
      @for $i from 0 through 6 { 
        &[row="#{$i}"] {
          top: $cell-size * $i;
        }
      }
      // cols
      @for $i from 0 through 7 { 
        &[col="#{$i}"] {
          left: $cell-size * $i;
        }
      }
    }
  }
}

.row {
  display: inline-flex;
  justify-content: center;
}

.cell {
  width: $cell-size;
  height: $cell-size;
  display: inline-block;
  position: relative;
  overflow: hidden;

  // blue corner portion
  &:after {
    content: '';
    display: block;
    box-shadow: 0 0 0 50px $board-blue;
    width: 80%;
    height: 80%;
    margin: 10%;
    border-radius: $cell-size;
  }
}

#winningText {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  color: white;
  font-size: 150px;
  text-align: center;
  padding-top: 200px;
  margin: 0;
  opacity: 0;
  display: none;

  transition: all 1s;
}
